@import "variables";

header.aboutPage {
    height: auto;
    
    h2 {
        opacity: 1;
    }

    h3 {
        opacity: 1;
    }
}

main.about {
    margin-top: 150px;
    padding-bottom: 20px;
    h3 {
        text-align: center;
        margin-bottom: 25px;
        @include forSize(belowDesktop) {
            margin-bottom: 25px;
        }
    }
}

.topSection,
.bottomSection {
    align-items: center;
}

.bottomSection {
    @include forSize(belowDesktop) {
        flex-direction: column;
    }
}

.topSection .images,
.bottomSection .images {
    width: 60%;
    @include forSize(belowDesktop) {
        width: 100%;
    }
}


.topText,
.bottomText {
    flex-basis: 60%;

    p {
        margin-bottom: 25px;
        text-indent: 35px;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
}

.images {
    flex-basis: 40%;
    padding: 20px 40px;
}

.bottomSection .images {
    padding-left: 0;
    @include forSize(belowDesktop) {
        padding-left: 40px;
    }
}

.contactButton {
    justify-content: center;
    margin-bottom: 50px;
}

.signature {
    justify-content: flex-end;
}