@import "variables";

h1,
h2,
h3 {
    font-family: $titleFont;
    color: $kenzeramaPink;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 4rem;
    @include forSize(belowDesktop) {
        font-size: 2.5rem;
    }
}

h3 {
    font-size: 2rem;
    margin: 0;
}

a,
p {
    font-family: $textFont;
}

p {
    margin: 0;
    color: $textBlack;
}

a {
    text-decoration: none;
    color: $textBlack;
    text-transform: capitalize;
    transition: 0.3s;
    &.pink {
        color: $kenzeramaPink;
    }
    &.black {
        
    }
}

a:hover,
a:focus {
    color: $kenzeramaPink;
}

.button {
    background: $kenzeramaPink;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    border-radius: 10px; 
}

.button:hover,
.button:visited:hover {
    color: $textBlack;
}

.button:visited {
    color: white;
}

.signature p {
    font-family: 'Pinyon Script';
    font-size: 2rem;
    margin-right: 50px;
    color: $kenzeramaPink;
}

.pink {
    color: $kenzeramaPink;
}