$titleFont: 'Questrial', sans-serif;
$textFont: 'Alegreya', serif;

$kenzeramaPink: #ff7ac0;
$textBlack: #131515;

// MEDIA QUERY MIXINS
@mixin forSize($size) {
  @if $size == belowPhone {
    @media (max-width: 599px) { @content; }
  } @else if $size == belowTabletPortrait {
    @media (max-width: 768px) { @content; }
  } @else if $size == belowTabletLandscape {
    @media (max-width: 960px) { @content; }
  } @else if $size == belowDesktop {
    @media (max-width: 1200px) { @content; }
  } @else if $size == bigDesktopUp {
    @media (min-width: 1800px) { @content; }
  } @else if $size == teenyTiny {
    @media (max-width: 350px) { @content; }
  }
}